<h1>Test</h1>

<select name="specific-class" id="specific-class">
    {{#each dbAvailableClasses}}
        {{#if (checkDay dataValues.day_of_week)}}
            <option>
                {{#if (checkStudio1 dataValues.studio_id)}}La Mesa{{/if}}
                {{#if (checkStudio2 dataValues.studio_id)}}Santee{{/if}}
                {{#if (checkStudio3 dataValues.studio_id)}}Bonita{{/if}} with {{dataValues.teacher}} between {{dataValues.start_time}} and {{dataValues.end_time}}</option>
        {{/if}}
    {{/each}}
</select>

  <!-- Attendance script -->
  <script type="text/javascript" src="js/attendance.js"></script>