<header>
    <nav class="navbar navbar-expand-lg navbar-light" id="navBar">
        <a class="navbar-brand" href="/dashboard">
            <button class="btn btn-primary">
                Home
            </button>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/students">
                        <button class="btn btn-primary">
                            New Student Registration
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button class="btn btn-primary">
                            Button Three
                        </button>
                    </a>
                </li>
                <img src="/assets/images/Logo.png" id="navLogo" />
            </ul>
        </div>
    </nav>
</header>

<body>
    {{!-- Studio dropdown option --}}
    <div class="container" id="classRegistration">
        <form class="row g-3">
            <div class="col-md-2">
                <label for="studio" class="form-label">
                    Studio
                </label>
                <select id="studio" class="form-select">
                    <option selected>
                        Choose...
                    </option>
                    <option value="La Mesa">
                        La Mesa
                    </option>
                    <option value="Santee">
                        Santee
                    </option>
                    <option value="Bonita">
                        Bonita
                    </option>
                </select>
            </div>
            {{!-- Day of the week dropdown option --}}
            <div class="col-md-2">
                <label for="day" class="form-label">
                    Day of the week
                </label>
                <select id="day" class="form-select">
                    <option selected>
                        Choose...
                    </option>
                    <option value="Monday">
                        Monday
                    </option>
                    <option value="Tuesday">
                        Tuesday
                    </option>
                    <option value="Wednesday">
                        Wednesday
                    </option>
                    <option value="Thursday">
                        Thursday
                    </option>
                    <option value="Friday">
                        Friday
                    </option>
                    <option value="Saturday">
                        Saturday
                    </option>
                </select>
            </div>
            {{!-- Start time dropdown option --}}
            <div class="col-md-2">
                <label for="start_time" class="form-label">
                    Start time
                </label>
                <select id="start_time" class="form-select">
                    <option selected>
                        Choose...
                    </option>
                    <option value="2">
                        2:00pm
                    </option>
                    <option value="4">
                        4:00pm
                    </option>
                    <option value="6">
                        6:00pm
                    </option>

                </select>
            </div>
            {{!-- End time dropdown option --}}
            <div class="col-md-2">
                <label for="end_time" class="form-label">
                    End time
                </label>
                <select id="end_time" class="form-select">
                    <option selected>
                        Choose...
                    </option>
                    <option value="330">
                        3:30PM
                    </option>
                    <option value="430">
                        4:30PM
                    </option>
                    <option value="530">
                        5:30PM
                    </option>
                </select>
            </div>
            {{!-- Teacher dropdown option --}}
            <div class="col-md-2">
                <label for="teacher" class="form-label">
                    Teacher
                </label>
                <select id="teacher" class="form-select">
                    <option selected>
                        Choose...
                    </option>
                    <option value="Skye">
                        Ms. Skye Jollie
                    </option>
                    <option value="Kyle">
                        Mr. Kyle McIntosh
                    </option>
                    <option value="Aubrey">
                        Ms. Aubrey Sawicki
                    </option>
                </select>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" id="registerClass">
                    Add a class
                </button>
            </div>

        </form>
    </div>
    <div class="container mt-5">
    <div id="classes-table"></div>
    <button type="button" class="btn btn-primary mt-2" id="save">
      Save
    </button>
  </div>
    <script type="text/javascript" src="js/classes.js"></script>
</body>