<body id="dashboard-body"> <img class="img-fluid dashboard-image" src="./assets/images/background-image.jpg" alt="background">
  <div id="buttons">    
    <div class="container text-center">
      <img class="mt-4" src="/assets/images/Art-Larisse-Logo_DashboardLogo.png" id="dashBoardLogo" />
    </div>


    <div class="container mt-5" id="dashboard-container">

      <div class="row">
        <div class="my-4">
          <h1>Welcome: <span class="member-name"></span>!</h1>
        </div>
      </div>

      <div class="row align-items-center mt-4 pb-5">
        <div class="col-5 text-start pb-5">
          <ul>
            <li class="mb-3 btn-lg btn-block">
              <a href="/students">
                <button class="btn btn-info dashboard-button">
                  Manage Students
                </button>
              </a>
            </li>
            <li li class="mb-3 btn-lg btn-block">
              <a href="/classes">
                <button class="btn btn-info dashboard-button">
                  Manage Classes
                </button>
              </a>
            </li>
            <li li class="mb-3 btn-lg btn-block">
              <a href="/roster">
                <button class="btn btn-info dashboard-button">
                  Class Roster
                </button>
              </a>
            </li>
            <li li class="mb-3 btn-lg btn-block">
              <a href="/logout">
                <button class="btn btn-danger btn-info dashboard-button">
                  Logout
                </button>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <div id="added-artwork"></div>
        </div>
      </div>
      
    </div>
  </div>
  <script src="js/dashboard.js"></script>
</body>