<div class="container">
  <h1>
    Welcome!
  </h1>
  <h2>
      Art with Larisse!
  </h2>
  <ul>
    <li>
      <a href="/students">
        <button class="btn btn-primary">
          New Student Registration
        </button>
      </a>
    </li>
    <li>
      <a href="/classes">
        <button class="btn btn-primary">
          Classes
        </button>
      </a>
    </li>
     <li>
      <a href="/">
        <button class="btn btn-primary">
          Other button
        </button>
      </a>
    </li>
  </ul>
</div>
