<body>
  <div id="buttons">

    <div class="container" id="dashboard-container">    <img src="/assets/images/Logo.png" />

      <ul>
        <li>
          <a href="/students">
            <button class="btn btn-primary">
              New Student Registration
            </button>
          </a>
        </li>
        <li>
          <a href="/classes">
            <button class="btn btn-primary">
              Classes
            </button>
          </a>
        </li>
        <li>
          <a href="/">
            <button class="btn btn-primary">
              Other button
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>