<h1>WORKING!! STUDENT PAGE! AWESOME~~~~~~</h1>

<form class="row g-3">
  <div class="col-md-6">
    <label for="inputfirstName" class="form-label">First Name</label>
    <input type="name" class="form-control" id="firstName">
  </div>
  <div class="col-md-6">
    <label for="inputLastname" class="form-label">Last Name</label>
    <input type="lastName" class="form-control" id="lastName">
  </div>
  <div class="col-12">
    <label for="inputBirthdate" class="form-label">Birthdate</label>
    <input type="text" class="form-control" id="birthdate">
  </div>
  <div class="col-md-4">
    <label for="studentStatus" class="form-label">Student Status</label>
    <select id="inputStautus" class="form-select">
      <option selected>Choose...</option>
      <option value="Intro">Intro</option>
      <option value="Current Status">Current Student</option>
      <option value="On a Break">On a Break</option>
      <option value="Done">Done</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputStudio" class="form-label">Studio</label>
    <select id="inputStudio" class="form-select">
      <option selected>Choose...</option>
      <option value="La Mesa">La Mesa</option>
      <option value="Santess">Santee</option>
      <option value="Bonita">Bonita</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Register Student</button>
  </div>
</form>