#submitButton {
  margin-top: 4%;
}

#loginButton {
  margin-top: 4%;
}
#dashboard-container {
  text-align: center;
}
li {
  list-style: none;
  margin-top: 1%;
  margin-right: 3%;
}  

img {
  height: 100px;
  width: 300px;
}